
# ------------------ DATA ------------------
data/
*.npy
*.csv
*.txt

# ------------------ MODEL ------------------
checkpoints/
*.pt

# ------------------ PYTHON ------------------
__pycache__/
*.pyc

# ------------------ ENV ------------------
venv/
.env

# ------------------ OS ------------------
.DS_Store
Thumbs.db
data/
checkpoints/
*.npy
*.pt
venv/