
# ------------------ DATA ------------------
data/
*.npy
*.csv
*.txt
!requirements.txt
!tokenizer/merges.txt

# ------------------ MODEL ------------------
# checkpoints/
# *.pt

# ------------------ PYTHON ------------------
__pycache__/
*.pyc

# ------------------ ENV ------------------
venv/
.venv/
.env
.env.local

# ------------------ OS ------------------
.DS_Store
Thumbs.db
data/
# checkpoints/
*.npy
# *.pt
venv/